<!-- <aside>
	<div class="container">
		<nav>
			<ul>
				{% for page in site.pages %} {% if page.category == 'menu' %}  
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
			</ul>
		</nav>
	</div>
</aside>

<header>
	<div>
		<h1><a href="/">{{ site.title }}</a></h1>
	</div>
</header> -->

<div style="height:100px;background-color:#c5050c;" align="center">
  <p id="heading" style="color:#fff;">
    WormClassroom
  </p>
</div>
<nav class="navbar navbar-inverse"  style="background-color:#c5050c; border: none;border-radius: 0px">
  <div class="container-fluid"  > 
    <div class="collapse navbar-collapse " id="myInverseNavbar2">
      <ul class="nav navbar-nav nav-justified nav-tabs ">
        <li><a href="index.html" class='active'>Home</a></li>
        <li><a href="intruction_catelog.html">Instructional Material</a></li>
        <li><a href="research_catalog.html">Research</a></li>
        <li><a href="contributors.html">Contributors</a></li>
        <li><a href="glossary.html">Glossary</a></li>
<!--             <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">Links <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.jfbvzmc.wisc.edu/">sfb mfx</a></li>
            <li><a href="http://www.sfkbn.wisc.edu/">svmnfv</a></li>
            <li><a href="http://www.sfmxnf.wisc.edu/soc/">svmn</a></li>
          </ul>
        </li> -->
        <li><a href="http://www.wisc.edu/">Wisconsin</a></li>
      </ul>
    </div>
  </div>
</nav>
